@{
    Layout = "~/Views/Shared/_SmallVieuwStart.cshtml";
}
<div class="header_slide">
    <div class="header_bottom_left">
        <div class="categories">
            <ul>
                <li><a href="@Url.Content("~/Home/add_product/")"> Product toevoegen</a></li>
                <li><a href="@Url.Content("~/Home/product/")"> Producten aanpassen/verwijderen</a></li>
                <li><a href="@Url.Content("~/Home/deals/")"> Kortingsactie toevoegen</a></li>
                <li><a href="@Url.Content("~/Home/add_category/")"> Categorie toevoegen</a></li>
                <li><a href="@Url.Content("~/Home/CategoryOverview/")"> Categorie aanpassen/verwijderen</a></li>
            </ul>
        </div>
    </div>
</div>