@model Webshop.ViewModels.ManagerViewModel
@{
    ViewBag.Title = "Management";
}
<div class="main">
    <div class="content">
        @if (@ViewBag.Error != null)
        {
            <span style="color:red"> @ViewBag.Error</span>
        }
        <div class="section group">
            <div class="col span_1_of_3">
                @if (Model != null)
                {
                    <h1>Best selling products</h1>
                    <table id="hor-minimalist-b">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Naam</th>
                                <th>Verkocht</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderline in Model.Orderlines)
                            {
                                <tr>
                                    <td>@orderline.Product.Id</td>
                                    <td>@orderline.Product.ProductName</td>
                                    <td>@orderline.Amount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="col span_1_of_3">
                @if (Model != null)
                {
                    <h1>Worst selling products</h1>
                    <table id="hor-minimalist-b">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Naam</th>
                                <th>Verkocht</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderline in Model.OrderlinesAsc)
                            {
                                <tr>
                                    <td>@orderline.Product.Id</td>
                                    <td>@orderline.Product.ProductName</td>
                                    <td>@orderline.Amount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="col span_1_of_3">
                @if (Model != null)
                {
                    <h1>Profit:</h1>
                    <p>@Model.Profit()</p>
                }
            </div>
        </div>
    </div>

</div>
