@model Webshop.Models.ShoppingBag
<div class="content">
    <ul>
        <div class="section group">
            @if (Model.OrderLines != null)
            {
                <div class="col_1_of_3 span_1_of_3">
                    <h3>Naam</h3>
                </div>
                <div class="col_1_of_3 span_1_of_3">
                    <h3>Aantal</h3>
                </div>
                <div class="col_1_of_3 span_1_of_3">
                    <h3>Prijs</h3>
                </div>

                foreach (var ol in Model.OrderLines)
                {
                    <li>
                        <div class="col_1_of_3 span_1_of_3">
                            @Html.ActionLink(ol.Product.ProductName, "Product", "Home", new { Id = ol.Product.Id }, null)
                        </div>
                        <div class="col_1_of_3 span_1_of_3">
                               @ol.Amount
                            </div>
                        <div class="col_1_of_3 span_1_of_3">
                            <p>@(ol.Product.Price * ol.Amount)</p>
                        </div>
                    </li>
                }
                <hr />
                <li>
                    <div class="col_1_of_3 span_1_of_3">
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <h1>Totaal</h1>
                        <p>@Model.TotalCost</p>
                    </div>
                </li>

            }

            else
            {
                <br />
                <p>Uw winkelwagen is leeg</p>
                <br />
            }
        </div>
    </ul>
    <p>
        <input type="submit" value="Bestellen" onclick="location.href='@Url.Action("CreateOrder", "Home")'" />
    </p>
</div>
