<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>

<body>
<div class=" content-wrapper">
            <div class="float-left">
                <!--<img src="~/Images/IntoSportDefRgb.png" title="IntoSport" alt="IntoSport" width="180px" height="70px"/>-->
				<a href='@Url.Action("Index", "Home")'>
					<img src='@Url.Content("http://i.imgur.com/B7JQHWt.png")' height="70px" width="190px" />
				</a>
            </div>
            <div class="float-right">
                <section id="login">
                        <ul>
                            <li>@Html.ActionLink("Registreren", "Registreren", "Home")</li>
                            <li>@Html.ActionLink("Inloggen", "Login", "Home")</li>
                        </ul>
                </section>
                <nav>
                    <ul id="menu">
                        <li><a href="#">Mannen</a></li>
                        <li><a href="#">Vrouwen</a></li>
                        <li><a href="#">Jongens</a></li>
                        <li><a href="#">Meisjes</a></li>
                        <li><a href="#">Indoor</a></li>
                        <li><a href="#">Outdoor</a></li>
                    </ul>
                </nav>
            </div>
            </div>
<header id="header-wrapper">
        <!----<div id="header">
            
            <div id="header-content">
                <div id="header-c-logo">
                    <a href="http://www.team-trick.com" id="logo" alt="Your source of entertainment" title="Your source of entertainment"></a>
                </div>
                <div class="navigation">
                    <ul class="navi">
                        <li><a href="#">Home</a></li>
                        <li>
                            <a href="#">News</a>
                            <ul>
                                <li><a href="#">Featured</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Forum</a></li>
                        <li>
                            <a href="#">Account</a>
                            <ul>
                                <li><a href="#">Log In</a></li>
                                <li><a href="#">Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>
        <div id="mid-content">
            <div id="mid-content-wrapper">
                
            </div>
        </div> -->
    </header>
            <!-- GBL -->
    <section id="body-wrapper">
       
        <div id="main-content"> 
            <div class="art-content">
@RenderSection("featured", required: false)
                @RenderBody()

                
            </div><!---
            <div class="art-content">
                <header id="art-content-header">
                    <div class="a-c-title">World of Warcraft loses 1.3 million over three months</div>
                    <div class="a-c-about">
                        <ul>
                            <li><b>Released on</b> 10:54 AM May 09, 2013, </li>
                            <li><b>Author:</b> Psychopomp</li>
                            <ul>
                    </div>
                </header>
                <article id="art-content-inner">
                    <p>
                        <a href="http://www.team-trick.com"><img class="a-c-img" src="http://static.sevvlor.com/images/articles/Andrew-Scott-Reisse-e6.jpg" /></a>
                        <b>The pedestrian who was struck and killed during a police chase in Santa Ana was identified as the 33-year-old Andrew Scott Reisse on Friday.</b>
                    </p>

                    <p>Reisse was walking in a crosswalk when he was struck and killed at the end of a mile-long police chase on Thursday. He was killed about 4 miles from the offices of Oculus VR. The mile-long police chase ended in a crash about 100 feet down the road where Reisse was hit. The suspects made an attempt to escape from the police but were soon captured.</p>
                    <p>"Andrew was a brilliant computer graphics engineer, an avid photographer and hiker who loved nature, a true loyal friend, and a founding member of our close-knit Oculus family," the company said in a statement.</p>
                    <p>Coworkers of Reisse were soon notified of his death. Some of his coworkers have known him since college and worked with him at multiple companies.</p>
                    <p>"Andrew's contributions span far and wide in the video game industry. His code is embedded in thousands of games played by millions of people around the world," according to a statement to the TV station. "Words can not express how sorely he will be missed or how deeply our sympathy runs for his family."</p>
                    <p>The 21-year-old driver of the dodge charger now faces murder charges.</p>
                    <p>Oculus issued the following statement to Polygon:</p>
                    <p>"Andrew was a brilliant computer graphics engineer, an avid photographer and hiker who loved nature, a true loyal friend and a founding member of our close-knit Oculus family.</p>
                    <p>Some of us have known Andrew since college, and have worked with him at multiple companies beginning with Scaleform in Maryland which he helped start at age 19, then at Gaikai in Aliso Viejo, which brought him out to California, and finally at Oculus where he was a co-founder and lead engineer.</p>
                    <p>Andrew's contributions span far and wide in the video game industry. His code is embedded in thousands of games played by millions of people around the world.</p>
                    <p>Words can not express how sorely he will be missed or how deeply our sympathy runs for his family.</p>
                    <p>Andrew will always be in our thoughts and will never be forgotten. We love you, Reisse."</p>
                </article>
            </div>-->
        </div>
            
        <aside id="right-content">
            <div id="side-content">
                <div id="box-forum-wrapper">
                    <div class="box">
                        <span style="font-size: 12px; color: rgb(223, 101, 33);">IntoSport</span> Producten
                    </div>
                    <ul class="b-menu">
                        <li class="box-lines"><a href="#">Tennis</a></li>
                        <li class="box-lines"><a href="#">Snowboarden</a></li>
                        <li class="box-lines"><a href="#">Boxen</a></li>
                        <li class="box-lines"><a href="#">Voetbal</a></li>
                        <li class="box-lines"><a href="#">Wintersport</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span style="font-size: 12px; color: rgb(223, 101, 33);">IntoSport</span> Overig
                </div>
                <ul class="b-menu">
                    <li class="box-lines"><a href="#">Aanbiedingen</a></li>
                    <li class="box-lines"><a href="#">Wie zijn wij?</a></li>
                    <li class="box-lines"><a href="#">Contact</a></li>
                </ul>
                <div id="affiliates-wrapper">
                    <div class="box">
                        <span style="font-size: 12px; color: rgb(223, 101, 33);">Our </span> Affiliates
                    </div>
                    <ul class="a-menu"></ul>
                </div>
                <div id="advertisement-wrapper">
                    <div class="box">
                        <span style="font-size: 12px; color: rgb(223, 101, 33);">The</span> Advertisement
                    </div>
                </div>
            </div>
        </aside>
    </section>
    <footer>
    
    </footer>
</body>
</html>
